.header_title{

}

*, *::before, *::after {
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

/* Quests CSS */

.quests-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: auto;
    padding-bottom: 50px; 

}

.quest-section{
    display: grid;
    justify-items: center;
    row-gap: 5px;
    column-gap: auto;
}

.quest-header{
    font-family: Roboto, Arial;
    font-size: 20px;
}

.quest-description{
    font-family: Roboto, Arial;
    font-size: 18px;
    color: rgb(69, 68, 68);
    /* cursor: pointer; */
    margin-bottom: 10px; 
}

.quest-description:hover{
    opacity: 0.8;
}

.text-color{
    color: pink;
}

@media (max-width: 800px){
    .quest-grid{
        grid-template-columns: 1fr;
    }
}



/* Quests CSS end */



.progress-bar{
    margin-top: 0px; 
    width: 300px;
    --width: 1;
    height: 3em; 
    background-color: rgb(85, 85, 85);
    box-shadow: 10px, 10px, white;
    border-radius: 1.5em;
    color: rgb(255, 255, 255); 
    display: flex; 
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    position: relative;
}

.progress-bar:hover{
    border-width: 2px;
    background-color: rgb(104, 100, 100);
}

.progress-bar::before{
    content: attr(data-label);
    position: absolute;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0.5em; 
    top: 0.5em;
    bottom: 0.5em;
    width: calc(var(--width, 0)* 1%);
    min-width: 2rem;
    max-width: calc(100% - 1em);
    background-color: rgb(57, 255, 20);
    border-radius: 1em;
    padding: 1em;
}

.quote-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 40px;
}


.motivational-quote{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-family: Roboto, Arial;
    font-size: 23px;
    max-width: 1000px;
    color: rgb(0, 0, 0);
    text-align: center;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    background-color: rgb(229, 203, 186);
    padding: 10px; 
    border-radius: 10px;
    box-shadow: 2px 2.5px 10px  rgb(32, 32, 32); 
    border: 2px solid black;
    /* background-color: rgb(146, 255, 140); */

}

.button-quote{
    font-family: Roboto, Arial;
    /* border-width: 2px;
    border-style: solid; */
    text-align: center;
    border: none;
    /* border-radius: 5px; */
    padding: 3px;
    cursor: pointer;
    background-color: transparent;
    margin-bottom: 5px; 
    margin-top: 15px;
    /* height: 10px;; */
    /* box-shadow: 2px 3px black; */
}

.button-quote:hover{
    /* background-color: rgb(94, 95, 94);
    cursor: pointer; */
}

.button-quote:active{
    background-color: rgb(64, 64, 64);
}


.book-icon{
    height: 45px;
    background-color: transparent;
}

.button-text{
    font-family: Roboto, Arial;
    font-size: 20px;
    font-weight: bold;
}

.quests-title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.quest-font-image{
    height: 100px;
    justify-content: center;
    align-items:center;
    padding: 18px;
    background-color: rgb(222, 184, 135);
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 5px 5px rgb(205,170,125);

}

.wood-backdrop{
    height: 100px;
    background-color: transparent;
    mix-blend-mode: multiply;
}


.quest-icons{
    height: 55px;
    display: flex; 
    justify-content: center;
    margin-bottom: 10px;
    background-color: rgba(247, 251, 247, 0.4);
    border-radius: 22.5px;
    padding: 6px;
}
