/* this is a sample file that will be deleted shortly. this is just to provide a skeleton of directories */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin:0;
    padding:0;
    background-color: #8be988;
    background-image: url("bgElement.png");
    background-size: cover;               
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-y: -550px;  
}

p {
    text-align: left;
    color:#6f612f;
}

p.footer{
    text-align: center;
    color: #7d7d7d;
}

.navbar {
    background-color: #70d579;
    padding: 0px;
    
    padding-left: 10%;
    padding-right: 10%;
    margin: 0px;
    filter: drop-shadow(0px 5px 5px #5b9b52);
    background: linear-gradient(90deg, rgba(68,102,64,1) 0%, rgba(80,121,74,1) 5%, rgba(80,121,74,1) 95%, rgba(68,102,64,1) 100%);
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul{
    display: flex;
}

.navbar ul li a{
    padding: 10px 20px;
    display: block;
    font-weight: 600;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: #ffd438;
    background-color: rgb(96, 167, 87);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.stripe{
    margin-top:15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 25px;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(79, 189, 94));
    box-shadow: 1px 1px 1px 1px #5b9b52;
    background-color: #75d172;
    background-attachment: fixed;
}

footer{
    background-color: rgb(63, 81, 59);
    padding-top: 15px;
    padding-bottom:15px;
    margin-top:15px;
    text-align: center;
    position:relative;
    padding-left:10%;
    padding-right:10%;
}

footer a{
    color:#7d7d7d;
}

.footer ul li a{
    padding: 10px 20px;
    display: block;
    transition: 0.5;
}

.footerColumns{
    position:relative;
    margin-left:auto;
    margin-right:auto;
    color:#555;
    text-align:right;
    padding-left:5%;
    padding-right:5%;
    display: grid;
    grid-template-columns: auto auto auto;
}